@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
p {
  font-size: 20px;
}
h2 {
  font-size: 40px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.logo {
  float: left;
}
.clearfix {
  clear: both;
}
.home {
  float: right;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}
.clearfix {
  clear: both;
}
.hero {
  background: url("../images/ezgif-2-b583d0ce77.png") no-repeat center
    center/cover;
  height: 80vh;
}
h1 {
  color: rgb(73, 107, 241);
}
.hero-content {
  float: right;
  width: 400px;
  padding: 150px;
  font-size: 20px;
}
.hero-content p {
  margin: 30px 0;
}
.tech {
  color: black;
  font-size: 20px;
  width: 400px;
  padding: 10px;
}
.btn {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 20px;
}
.btn-blue {
  background-color: #496bf2;
}
.btn-green {
  background-color: #2dd6c1;
}
.hero button:last-child {
  margin-left: 20px;
}
.card h3 {
  color: #496bf2;
  font-size: 25px;
  margin: 10px 0;
}
.card {
  float: left;
  box-shadow: 0px 0px 6px grey;
  width: 30%;
  text-align: center;
  padding: 20px 10px;
  background-color: white;
}
.card img {
  width: 80px;
}
.card:nth-child(2) {
  margin: 0 20px;
  background-color: white;
}
.services {
  margin: 50px 0;
}
.about-us {
  width: 80%;
  margin: 50px auto;
}
.doc {
  float: left;
  width: 50%;
}
.us {
  float: right;
  width: 48%;
  font-size: 50px;
}
.clearfix {
  clear: both;
}

.head {
  color: #496bf2;
}
.profiles {
  margin: 20px 0;
}
.patients:nth-child(i) {
  color: #496bf2;
}
.testimonials {
  text-align: center;
  margin: 50px 0;
}
.testimonials p {
  width: 40%;
  margin: 20px auto;
}
.love {
  text-align: center;
  padding-bottom: 30px;
  font-size: 30px;
}
.input-container input {
  font-size: 20px;
}
 .input-container input,textarea {
  outline: none;
  border: none;
 

} 
.input-container,textaarea{
  background-color: white;
  margin-bottom: 25px;
  padding: 15px;
}

.mark {
  width: 40%;
  margin: 0 auto;
}
.mark-left {
  text-align: left;
}
.mark-right {
  text-align: right;
}

.testimonials h4 {
  color: #496bf2;
  text-transform: uppercase;
  margin: 20px 0;
}
.testimonials-circle {
  width: 20px;
  height: 20px;
  border: 90px;
  border-radius: 30px;
  background-color: #2dd6c1;
  margin: 0 auto;
  float: left;
}
.testimonials-circle:first-child {
  background-color: #496bf2;
}
.testimonials-circle:nth-child(2) {
  margin: 0 20px;
}
.circles {
  width: 10%;
  margin: 0 auto;
  background-color: crimson;
}
.bg-love {
  background: url("../images/ezgif-2-81a50240fb.png") no-repeat center
    center/cover;
  height: 80vh;
}
.name {
  padding: 20px 30px;
}
.email {
  padding: 20px 30px;
}
.subjects {
  padding: 20px 30px;
}
.message {
  padding: 50px 70px;
}
.lable {
  margin: 30px;
  padding: 20px 30px;
  width: 20%;
}
.lables-css:nth-child(2) {
  margin: 0 20px;
}
.btn {
  float: left;
  margin: 20px 0;
}
.org-btn {
  margin: 100px auto;
}
.icon {
  padding: 2em 0;
}
.icon:nth-child(2) {
  padding: 0 10em;
}
.footer-section {
  float: left;
  margin: 0 2em;
  width: 18%;
}
.footer-section ul li {
  list-style-type: none;
  padding: 0.5em;
}
